@import "colors";

.iconlink button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: auto;
    font-size: 0.9rem;

    padding: 0 0.5rem;
    border: none;
    border-radius: 3px;
  
  i{
    font-size: 1.4rem;
    padding-left: 0.5rem;
  }
}

.person_links .iconlink button{
    background-color: $primary;
    color: $secondary;
    zoom: 0.8;
  
    &:hover {
      background-color: $transparent;
      color: $primary;
      box-shadow: 0 0 0 2px $primary;
    }
}

.download_buttons .iconlink button{
    background-color: $transparent;
    color: $secondary;
  
    &:hover {
      background-color: $transparent;
      box-shadow: 0 0 0 2px $secondary;
    }
}