@import 'colors';

a{
    text-decoration: none;
}

body{
  margin: 0;
  scroll-behavior: smooth;
}

#site_content_wrapper{
  background-color: $primary;
  color: $secondary;
  padding: 4vw;
  overflow: visible;
}

#site_content{
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
  margin-bottom: 2rem;
}

.twitter_container{
  margin-left: auto;
  margin-right: auto;
  padding: 10vh 6vw;
}