/* line 3, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_layout.scss */
a {
  text-decoration: none; }

/* line 7, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_layout.scss */
body {
  margin: 0;
  scroll-behavior: smooth; }

/* line 12, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_layout.scss */
#site_content_wrapper {
  background-color: #03002B;
  color: #dbd7c5;
  padding: 4vw;
  overflow: visible; }

/* line 19, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_layout.scss */
#site_content {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto; }

/* line 25, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_layout.scss */
h1 {
  text-align: center;
  margin-bottom: 2rem; }

/* line 30, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_layout.scss */
.twitter_container {
  margin-left: auto;
  margin-right: auto;
  padding: 10vh 6vw; }

/*# sourceMappingURL=_layout.css.map */