/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_0 {
  transform: translateZ(-49px) scale(1.49); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_1 {
  transform: translateZ(-36px) scale(1.36); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_2 {
  transform: translateZ(-25px) scale(1.25); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_3 {
  transform: translateZ(-16px) scale(1.16); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_4 {
  transform: translateZ(-9px) scale(1.09); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_5 {
  transform: translateZ(-4px) scale(1.04); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_6 {
  transform: translateZ(-1px) scale(1.01); }

/* line 15, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_7 {
  transform: translateZ(0px) scale(1); }

/* line 23, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_main {
  perspective: 100px;
  perspective-origin: center top;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }

/* line 31, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_container {
  position: relative;
  height: 50vh;
  transform-style: preserve-3d; }

/* line 37, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_item {
  position: absolute; }
  /* line 40, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
  .parallax_item img {
    width: 100vw; }

/* line 45, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
.parallax_logo {
  transform: translateZ(-12.25px) scale(1.1225); }
  /* line 48, /Users/Alex/Desktop/OTWebsite/ParallaxCSSDemo/css/sass/_parallax.scss */
  .parallax_logo img {
    width: 60vw;
    margin-left: 20vw; }

/*# sourceMappingURL=_parallax.css.map */