@import "colors";

$perspectiveStrength: 100;
$firstNonBackgroundParallaxLayer: 0;
$numParallaxLayers: 7;
$logoLayer: 3.5;

@mixin parallax_transform($transformIndex){
  $translateZOffset: $transformIndex*$transformIndex;
  transform: translateZ(-1* ($translateZOffset) +px) scale(1+$translateZOffset/$perspectiveStrength) ;
}

@mixin create_parallax{
  @for $i from $firstNonBackgroundParallaxLayer through $numParallaxLayers{
    .parallax_#{$i} {
      @include parallax_transform($numParallaxLayers - $i + $firstNonBackgroundParallaxLayer);
    }
  }
}

@include create_parallax;

.parallax_main{
  perspective: $perspectiveStrength +px;
  perspective-origin: center top;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parallax_container{
  position: relative;
  height: 50vh;
  transform-style: preserve-3d;
}

.parallax_item{
  position: absolute;
  
  img{
    width: 100vw;
  }
}

.parallax_logo{
  @include parallax_transform($numParallaxLayers - $logoLayer + $firstNonBackgroundParallaxLayer);
  
  img{
    width: 60vw;
    margin-left: 20vw;
  }
}
