#site_content > div{
  padding-bottom: 10rem;
}

#intro_text{
  margin-bottom: 8rem;
  
  p{
    font-size: calc(1.2vw + 1rem);
    padding: 1rem 5vw;
  }
}

.download_buttons{
  margin-top: 4rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.person_layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.person_item{
  margin: 2rem 1rem;
  background-color: $secondary;
  color: $primary;
  border-radius: 8px;
  width: 200px;
  
  .person_portrait{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
  
    img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      clip-path: circle(45% at 50% 50%);
    }
  }
  
  .person_name{
    font-size: 1.3rem;
  }
  
  .person_info{
    text-align: center;
    line-height: 0.5rem;    
  }
  
  .person_title{
    font-weight: 100;
  }
}

.person_links{
  display: flex;
  justify-content: space-around;
  padding: 0 0.5rem;
  margin: 0.3rem 0;
}

.fab, .fas{
  font-size: 0.8rem;
  text-decoration: none;
}