<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141702043-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-141702043-1');
  </script>
  <script src="javascripts/gatrk.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="fonts/NationalPark/nationalparkfont.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://kit.fontawesome.com/2966217f28.js"></script>
  <script src="javascripts/handlebars-v4.1.2.js"></script>
  <script src="javascripts/util.js"></script>
</head>
<body>
  <div class="parallax_main">
    <div class="parallax_container">
      <div class="parallax_item parallax_0">
        <img src="images/parallax/parallax0.png">
      </div>
      <div class="parallax_item parallax_1">
        <img src="images/parallax/parallax1.png">
      </div>
      <div class="parallax_item parallax_2">
        <img src="images/parallax/parallax2.png">
      </div>
      <div class="parallax_item parallax_3">
        <img src="images/parallax/parallax3.png">
      </div>
      <div class="parallax_item parallax_logo">
        <img src="images/logos/OT_logo.png">
      </div>
      <div class="parallax_item parallax_4">
        <img src="images/parallax/parallax4.png">
      </div>
      <div class="parallax_item parallax_5">
        <img src="images/parallax/parallax5.png">
      </div>
      <div class="parallax_item parallax_6">
        <img src="images/parallax/parallax6.png">
      </div>
      <div class="parallax_item parallax_7">
        <img src="images/parallax/parallax7.png">
<!--        This could probablty be done in a more modular way, but I'm not sure which CSS styles achieve having this section directly below the bottom one.-->
        <div id="site_content_wrapper">
          <div id="site_content">
            <div id="intro_text">
              <h1>The villain has won.</h1>
              <p>The heroes have been slaughtered, the legendary artifacts destroyed, and with each passing day, the world is further consumed by the Fog.</p>
              <p>There's nothing you can do, not really - you're no Chosen One, after all. Just some kid from sidequest village, barely worth a dialogue tree...</p>
              <p>So instead, you decide to go on your bucket list dream journey: travel to the Tower of Origin - the highest point in the world - climb to the very top, and watch the sun set for the final time.</p>
              <p>This is <b>Origin Trail</b>, an empathetic narrative game about coming to terms with grief, the good and bad of human nature, and the beauty of impermanence.</p>
              <p>Travel through a vivid world, and grow closer to your fellow travelers - each of them dealing with the end of the world in their own ways. It's not just your world ending, after all - it's theirs, too.</p>
            </div>
            <div id="trailer_div">
              <video src="videos/trailer1/Trailer1.mp4" poster="videos/trailer1/Trailer1Poster.png" width="100%" controls></video>
              <div class="download_buttons">
                <a download="Origin_Trail_OSX.zip" onclick="downloadButtonClick('osx')" href="downloads/OriginTrail.app.zip" class="iconlink">
                  <button>
                    <p>Download</p>
                    <i class="fab fa-apple"></i>
                  </button>
                </a>
                <a download="Origin_Trail_Windows.zip" onclick="downloadButtonClick('windows')" href="downloads/OriginTrail.exe.zip" class="iconlink">
                  <button>
                    <p>Download</p>
                    <i class="fab fa-windows"></i>
                  </button>
                </a>
              </div>
            </div>
            <div id="team_div">
                <script id="person_template" type="text/x-handlebars-template">
                  <div>
                    <h1>{{section_title}}</h1>
                    <div class="person_layout">
                      {{#each people}}
                        <div class="person_item">
                          <div class="person_portrait">
                            <img src="{{portrait}}">
                          </div>
                          <div class="person_info">
                            <h2 class="person_name">{{first}}{{last}}</h2>
                            <h4 class="person_title">{{title}}</h4>
                          </div>
                          <div class="person_links">
                            {{#each links}}
                              <a href="{{url}}" onclick="linkClick('{{../last}}'+'_'+'{{../first}}', {{json this}})" target="_blank" class="iconlink">
                                <button>
                                  <p>{{name}}</p>
                                  {{{html}}}
                                </button>
                              </a>
                            {{/each}}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </script>
                <script type="text/javascript">
                
                  fetch("data/static_data.json")
                      .then(response => response.json())
                      .then(function(data){
                        organized_data = {section_title: "Meet the Team", people: []};
                        data.people.forEach(function(person){
                          organized_data.people.push({
                            "first": person.first,
                            "last": person.last ? " "+person.last : "",
                            "title": person.title,
                            "portrait": person.portrait,
                            "links": Array.from(person.links, function(link){
                              return {
                                url: link.url,
                                name: link.name || data.link_types[link.type].name,
                                html: data.link_types[link.type].html
                              }
                            })
                          });
                        });

                        let template = Handlebars.compile(document.getElementById("person_template").innerHTML);
                        let htmlResult = template(organized_data);
                        document.getElementById("team_div").innerHTML += htmlResult;
                      });
                
                </script>
            </div>
            <div class="twitter_container">
              <a class="twitter-timeline" data-lang="en" data-theme="dark" data-link-color="#A09DD2" href="https://twitter.com/OriginTrailGame?ref_src=twsrc%5Etfw">Tweets by OriginTrailGame</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</body>